<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookies</title>
    <link rel="stylesheet" type="text/css" href="assets/css/cookiecuttr.css">
</head>

<body>
    <h1 style="text-align: center;">Page d'accueil.</h1>
        
    <div>
        <p>
            <span id="content" style="color: red;"></span>
        </p>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/jquery.cookie-1.4.1.min.js"></script>
    <script src="assets/js/jquery.cookiecuttr.js"></script>
    <script>
        $(document).ready(function() {
            $.cookieCuttr({
                cookieDomain: "localhost:5500",
                cookieAnalytics: false,
                cookieDeclineButton: true,
                cookieResetButton: true,
                cookieAcceptButtonText: "ACCEPTER LES COOKIES",
                cookieDeclineButtonText: "REFUSER LES COOKIES",
                cookieResetButtonText: "RÉINITIALISER LES COOKIES",
                cookiePolicyLink: "cookies-infos.html",
                cookieMessage: "Nous utilisons des cookies afin de simplifier et d'optimiser votre navigation. <a href='{{cookiePolicyLink}}' title='En savoir plus a propos de nos cookies'>En savoir plus.</a>",
                cookieNotificationLocationBottom: true
            });            
        });

        let content = document.getElementById('content');
        
        if (jQuery.cookie('cc_cookie_accept') == "cc_cookie_accept") {
            content.innerHTML = "Cookies acceptés !";
        }
        else if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
            content.innerHTML = "Cookies declinés !";
        }
        else if (jQuery.cookie('cc_cookie_reset') == "cc_cookie_reset") {
            content.innerHTML = "Cookies réinitialisés !";
        }
    </script>
</body>
</html>